# Android / Gradle
android/.gradle/
android/.idea/
android/local.properties
android/**/build/
android/build/
android/app/google-services.json

# IDE misc
.idea/
.vscode/
.DS_Store
Thumbs.db

# OS / temp files
*.log
*.tmp
*.temp
~$*

# Firebase
firebase/functions/node_modules/
